* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.heading {
    font-size: 2rem;
    color: #333;
    font-family: 'Poppins', 'Raleway', 'Roboto', sans-serif;
    font-weight: 600;
}

nav {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
}
